header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/1431610.jpg");
}

.login-container{
  display: flex;
  justify-content: center;
   text-align: left; 
}

